$color: #6b6b6b;
$font: 'Arial', sans-serif;

html {
}
body {
  font-family: $font;
  font-size: 14px;
  color: $color;
  background: #fff;
}

#header {
  height: 50px;
  background: rgba(35, 35, 35, 0.9) none repeat scroll 0 0;
  padding: 0 20px;
  .navbar-header {
    float: left;
    a {
      color: #d9d9d9;
    }
    i {
      color: #a47441;
    }
  }
  .navbar-tools {
    float: right;
    li.dropdown.current-user .dropdown-toggle {
      padding: 10px 4px 10px 9px;
      display: block;
      color: #d9d9d9;
      text-decoration: none !important;
      &:hover, &:focus {
        background: #4f4f4f;
      }
    }
  }
}
#main {
  padding-left: 220px;
  position: relative;

  aside {
    width: 220px;
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: #4f4f4f;
    .main-navigation-menu {
      list-style: outside none none;
      margin: 0;
      padding: 0;
      > li {
        border: 0 none;
        display: block;
        margin: 0;
        padding: 0;
        a {
          border-bottom-color: #404040;
          border-top-color: #646464;
          color: #d9d9d9;
          border-image: none;
          border-style: solid none;
          border-width: 1px 0;
          display: block;
          font-size: 14px;
          font-weight: 300;
          margin: 0;
          padding: 10px 15px;
          position: relative;
          text-decoration: none;
          &:hover {
            background: darken(#4f4f4f, 5%);
          }
          i {
            display: inline-block;
            font-size: 16px;
            margin-right: 5px;
            text-shadow: none;
            color: #a47441;
            font-weight: normal;
          }
        }
      }
    }
  }
  .content {
    background: #fff;
    min-height: 600px;
    padding: 10px 50px;
  }
}
footer {
  height: 50px;
  font-size: 12px;
  padding: 15px 20px 15px 20px;
  position: relative;
  background: rgba(35, 35, 35, 0.9) none repeat scroll 0 0;
  color: #d9d9d9;
}