body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #6b6b6b;
  background: #fff; }
  body.account {
    color: #7F7F7F;
    background: #4F4F4F url(../images/bg.png) 0 0 repeat; }

#header {
  height: 50px;
  background: rgba(35, 35, 35, 0.9) none repeat scroll 0 0;
  padding: 0 20px; }
  #header .navbar-header {
    float: left; }
    #header .navbar-header a {
      color: #d9d9d9; }
    #header .navbar-header i {
      color: #a47441; }
  #header .navbar-tools {
    float: right; }
    #header .navbar-tools li.dropdown.current-user .dropdown-menu {
      left: auto;
      right: 0; }
    #header .navbar-tools li.dropdown.current-user .dropdown-toggle {
      padding: 10px 4px 10px 9px;
      display: block;
      color: #d9d9d9;
      text-decoration: none !important; }
      #header .navbar-tools li.dropdown.current-user .dropdown-toggle:hover, #header .navbar-tools li.dropdown.current-user .dropdown-toggle:focus {
        background: #4f4f4f; }

#main {
  padding-left: 220px;
  position: relative; }
  #main aside {
    width: 220px;
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: #4f4f4f; }
    #main aside .main-navigation-menu {
      list-style: outside none none;
      margin: 0;
      padding: 0; }
      #main aside .main-navigation-menu > li {
        border: 0 none;
        display: block;
        margin: 0;
        padding: 0; }
        #main aside .main-navigation-menu > li a {
          border-bottom-color: #404040;
          border-top-color: #646464;
          color: #d9d9d9;
          border-image: none;
          border-style: solid none;
          border-width: 1px 0;
          display: block;
          font-size: 14px;
          font-weight: 300;
          margin: 0;
          padding: 10px 15px;
          position: relative;
          text-decoration: none; }
          #main aside .main-navigation-menu > li a:hover {
            background: #424242; }
          #main aside .main-navigation-menu > li a i {
            display: inline-block;
            font-size: 16px;
            margin-right: 5px;
            text-shadow: none;
            color: #a47441;
            font-weight: normal; }
  #main .content {
    background: #fff;
    min-height: 600px;
    padding: 10px 50px; }

footer {
  height: 50px;
  font-size: 12px;
  padding: 15px 20px 15px 20px;
  position: relative;
  background: rgba(35, 35, 35, 0.9) none repeat scroll 0 0;
  color: #d9d9d9; }

.main-login {
  display: block;
  margin: 60px auto 0 auto;
  max-width: 400px; }
  .main-login .logo {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    padding: 20px;
    text-align: center; }
  .main-login .box-login {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32);
    overflow: hidden;
    padding: 15px; }
    .main-login .box-login span.input-icon {
      display: block;
      position: relative; }
      .main-login .box-login span.input-icon > input {
        padding-left: 25px;
        padding-right: 6px; }
      .main-login .box-login span.input-icon > [class*="fa-"] {
        bottom: 0;
        color: #909090;
        display: inline-block;
        font-size: 14px;
        left: 5px;
        line-height: 35px;
        padding: 0 3px;
        position: absolute;
        top: 0;
        z-index: 2; }
  .main-login .copyright {
    font-size: 11px;
    margin: 0 auto;
    padding: 10px 10px 0;
    text-align: center; }

.field-validation-error {
  font-size: 12px; }

.validation-summary-errors ul {
  list-style: none;
  margin: 0px;
  padding: 0; }
