@import 'mixins';
@import 'helpers';

$color: #6b6b6b;
$font: 'Open Sans', sans-serif;
$font2: 'Roboto', sans-serif;

html {
}
body {
  font-family: $font;
  font-size: 15px;
  color: $color;
  background:#fff;

 #navi, > #header, > #footer {
    min-width: 1010px;
  }
}

.container {
  width: 970px;
  min-width: 970px;
}

#header {
  background: #2d4d86;
  border-bottom: 3px solid #264377;
  position: relative;
  height: 130px;
  color: #fff;
  margin-bottom: 80px;
  #logo {
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.1;
    font-weight: bold;
    color: #fff;
    text-align: center;
	display:block;
	text-decoration:none;
    span {
      display: block;
      font-size: 36px;
    }
    .balls {
      width: 184px;
      height: 82px;
      display: inline-block;
      position: relative;
      bottom: -5px;
      background: url(../images/balls.png) 0 0 no-repeat;
    }
  }
  .selected {
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    b {
      font-size: 20px;
      color: #ffe38b;
    }
  }
  .result {
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    .time {
      font-size: 14px;
      text-shadow: 1px 0 0 #abb8cf;
    }
    .numbs {
      margin-bottom: 15px;
      > span {
        border: 1px solid #ffe38b;
        background: #ffe38b;
        color: #2d4d86;
      }
    }
  }
  .numbs {
    margin-bottom: 10px;
    > span {
      float: left;
      height: 44px;
      width: 44px;
      border-radius: 5px;
      margin: 0 2px 0 2px;
      border: 1px solid #fff;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      padding: 9px 0 0 0;
    }
  }
}
#content {
  height: 440px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
  padding-bottom: 20px;
  .rower {
	  .col-xs-5 {
		width:360px;
	  }
	  .col-xs-7 {
		width:610px;
		
	  }
	  .col-promo {
		img {
			width:100%;
		}
		}
  }
}
#game {
  .col-xs-5 {
    padding-left: 0;
  }
  .play_field {
    .grid {
      margin-bottom: 10px;
      > div {
        height: 44px;
        width: 44px;
        border-radius: 5px;
        border: 1px solid #c3c3c3;
        float: left;
        margin: 4px 8px 4px 0;
        background: url(../images/bg_line.png) 0 0 repeat;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #626262;
        padding: 7px 0 0 0;
        cursor: pointer;
		transition: all 0.3s liner;
        &:hover {
          border: 1px solid darken(#c3c3c3, 40%);
		  color: darken(#626262, 10%);
        }
		&.selectedElement {
          color: #fff;
          background: #2d4d86;
          border: 1px solid #264377;
        }
      }
    }
    .btns {
      .btn {
        float: left;
        width: 112px;
        height: 40px;
        border: 1px solid #334c85;
        color: #334c85;
        margin: 0 9px 0 0;
        &:first-child {
          margin-left: 0px;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          background: #334c85;
          color: #fff;
        }
        &.active {
          background: #334c85;
          color: #fff;
          &:hover {
            background: darken(#334c85, 5%);
          }
        }
      }
    }
  }
  .post {
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 13px;
  }
  .jackpot {
    text-align: center;
    color: #000;
    font-size: 80px;
    line-height: 1.2;
    font-family: $font2;
	font-weight:900;
    span {
      display: block;
      text-align: center;
      font-size: 130px;
      color: #2d4d86;
    }
  }
}
#waiting {
  #progress {
    position: relative;
    width: 100%;
    > p {
      text-transform: uppercase;
      font-weight: bold;
      color: #343434;
      margin-bottom: 50px;
    }
    .inner {
      color: #343434;
      padding-top: 50px;
      p {
        font-weight: 300;
        font-size: 30px;
        margin: 0;
      }
      .time {
        font-size: 135px;
        line-height: 1;
        font-family: $font2;
		font-weight:900;	
      }
    }
    .loading {
      position: absolute;
      width: 310px;
      height: 310px;
      top: 50px;
      left: 50%;
	  margin-left:-155px;
      background: url(../images/circle.png) 0 0 no-repeat;
      background-size: cover;
      -webkit-animation: rotating 4s linear infinite;
      -moz-animation: rotating 4s linear infinite;
      -ms-animation: rotating 4s linear infinite;
      -o-animation: rotating 4s linear infinite;
      animation: rotating 4s linear infinite;
      transform-origin: 50% 50%;
    }
  }
}
#result {
  text-align: center;
  color: #fff;
  background:#2d4d86;
  height:400px;
  padding-top:80px;
  border-radius:5px;
  > p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 60px;
  }
  > div {
    font-family: $font2;
	font-weight:900;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 50px;
    text-transform: uppercase;

    span {
      font-size: 60px;
	  margin-bottom:20px;
	  display:block;
    }
  }
  button {
	width:210px;
	height:50px;
    font-size: 20px;
	font-weight: 300;
    border: 1px solid #fff;
	background: #2d4d86;
    color: #fff;
	&:hover {
		background: darken(#2d4d86, 10%);
	}
  }
}
#rules {
  margin-bottom: 40px;
}
#history {
  margin-bottom: 0px;
  .heading {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    ul {
      float: right;
      border: 1px solid #e8e8e8;
      border-bottom: none;
      border-radius: 6px 6px 0 0;
      li {
        background: #f8f8f8;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        position: relative;
        &.active {
          background: #fff;
          border-bottom: 1px solid #fff;
          &:after {
            content: "";
            position: absolute;
            height: 1px;
            bottom: -1px;
            left: 30px;
            right: 30px;
            background: #2d4d86;

          }
          a {
            font-size: 17px;
            color: #2d4d86;
            padding-top: 12px;
          }
        }
        &:not(.active):hover {
          background: lighten(#f8f8f8, 2%);
        }
        &:first-child {
          border-top-left-radius: 6px;
        }
        &:last-child {
          border-right: none;
          border-top-right-radius: 6px;
        }
        a {
          border: none;
          background: none;
          color: #444444;
          font-size: 13px;
          font-weight: bold;
          width: 120px;
          height: 45px;
          text-align: center;
          padding-top: 15px;
          margin: 0;
        }
      }
    }
  }
  .line {
    border-top: 1px solid #e8e8e8;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .tab-pane {
    height: 200px;
  }
  .winners {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background: url(../images/award.png) 0 0 no-repeat;
      height: 186px;

      .award {
        font-weight: bold;
        color: #953500;
        font-size: 20px;
        width: 140px;
        height: 186px;
        float: left;
        text-align: center;
        padding: 45px 0px 0 0;
      }
      .info {
        display: block;
        margin-left: 160px;
        margin-top: 40px;
        font-size: 14px;
        text-shadow: 1px 0 0 #a7a7a7;
        color: #434343;
        p {
          margin-bottom: 5px;
        }
      }
    }
	&:not(.slick-slider) li {
      float: left;
      margin-right: 50px;
	}
	&.slick-slider {
		padding:0 40px;
		.slick-arrow {
			border:none;
			margin:0;
			padding:0;
			position:absolute;
			top:50px;
			font-size:36px;
			background:none;
			color:#2d4d86;
			&:hover {
				color:darken(#2d4d86, 10%);
			}
			&.slick-prev {
				left:0;
			}
			&.slick-next {
				right:0;
			}
		}
	}
  }
}
#footer {
  background: #2d4d86;
  padding: 30px 0;
  .btn {
    background: #2d4d86;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #fff;
    padding:5px 30px;
    &:hover {
      background: darken(#2d4d86, 10%);
    }
  }
  .copy {
    font-size: 13px;
    text-align: right;
    padding: 10px 0 0 0;
    color: #fff;
  }
}

.modal_frm {
  .modal-dialog {
    width: 280px;
    margin: 10% auto 30px auto;
    .modal-content {
      border-radius: 0;
      background: #2d4d86 url(../images/frm_bg.png) right 0 no-repeat;
      border: none;
      border-radius: 2px;
      padding: 20px 10px;
      box-shadow: none;

    }
    .modal-heading {
      font-size: 22px;
      color: #fff;
      margin-bottom: 15px;
      text-align: center;
      p {
        font-size: 15px;
        margin-bottom: 0;
      }
    }
    .form-horizontal {
      input[type="text"], input[type="tel"], textarea {
        color: #383838;
        font-size: 14px;
        border: none;
        &:focus {
          background: darken(#fff, 5%);
        }
      }
      textarea {
        height: 100px;
      }
      label {
        color: #fff;
        font-size: 13px;
        margin-bottom: 5px;
      }
      .frm-submit {
        margin: 10px auto 0 auto;
        display: block;
        color: #fff;
        font-weight: bold;
        line-height: 1.3;
        font-size: 16px;
        background: none;
        border: none;
        padding: 0px 20px;
        &:hover {
          color: darken(#fff, 25%);
        }
      }
    }
    .btn-close {
      position: absolute;
      right: 5px;
      top: 0px;
      color: #fff;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
  &#modal_winner {
    .modal-dialog {
      width: 455px;
    }
  }
}

.gotop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  z-index: 20;
  display: none;
  &:hover {
    opacity: 0.8;
  }
}


.loading {
  width: 32px;
  height: 32px;
  background: url(../images/loading.gif) 0 0 no-repeat;
  display:block;
  margin: 20px 0 0 0;
}
.frm {
  &.sending {
    position:relative;
  }
  .loading {
    bottom: -40px;
    left: 50%;
    margin-left: -16px;
    position: absolute;
    z-index: 101;
  }
  .alert {
    margin-top:10px;
  }
  .field-validation-error {
    display:none;
  }
  .input-validation-error {
    background:#dca7a7 !important;
  }
  .alert {
    font-size:13px;
    .close {
      margin: -15px -10px 0 0;
    }
  }
}

.post {
	text-align:justify;
	font-family: arial;
	table {
		td {
			vertical-align:top;
			padding:10px;
		}
	}
}