<div id="waiting">
    <div class="row rower">
        <div class="col-xs-5 text-center col_result">
            <div id="progress">
                <p>Дождитесь розыгрыша</p>
                <div class="inner">
                    <p>
                        ОСТАЛОСЬ
                    </p>
                    <div class="time clock">
                        <p>&nbsp;</p>                        
                    </div>
                    <p>СЕК</p>
                </div>
                <div class="loading"></div>
            </div>
        </div>
        <div class="col-xs-7 text-right col-promo">
           @Html.Raw(ViewBag.code)
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>

<script src="~/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
<script>
    $(function () {

        var chat = $.connection.timing;


    });
</script>
