<div class="clock">
    
</div>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>

<script src="~/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
<script>
    $(function () {
        
        var chat = $.connection.timing;
        
       
    });
</script>
