<div id="waiting">
    <div class="row">
        <div class="col-xs-4 text-center">
            <div id="progress">
                <p>Дождитесь розыгрыша</p>
                <div class="inner">
                    <p>
                        ОСТАЛОСЬ
                    </p>
                    <div class="time clock">
                        <p>&nbsp;</p>                        
                    </div>
                    <p>СЕК</p>
                </div>
                <div class="loading"></div>
            </div>
        </div>
        <div class="col-xs-8 text-right">
            @{Html.RenderAction("OptionPartial", "Home", new { id = 2 });}
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>

<script src="~/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
<script>
    $(function () {

        var chat = $.connection.timing;


    });
</script>
