@model Tuple<int, int>

<div id="game">
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
				<p>Выберите 6 из 42</p>
                <div class="play_field">
                    <div class="grid clearfix">
                        @for (int i = Model.Item1; i <= Model.Item2; i++)
                        {
                            <div class="element" data-id="@i">
                                @i
                            </div>
                        }
                    </div>
                    <div class="btns">
                        <button id="autoSelect" class="btn btn-default">Авто выбор</button>
                        <button id="reset" class="btn btn-default">Сброс</button>
                        <button id="play" class="btn btn-default" disabled>Играть</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="post">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.</p>
                </div>
                <div class="jackpot">
                    ДЖЕКПОТ
                    <span class="sum">0 $</span>
                </div>
            </div>
        </div>
    </div>
</div>
