@using Microsoft.AspNet.Identity;

@if (Request.IsAuthenticated)
{
    <div class="navbar-tools">
        <ul class="nav">
            <li class="dropdown current-user">
                @using (Html.BeginForm("LogOff", "Admin", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                        <img src="~/Content/assets/images/icon_login.png" class="circle-img" alt="">
                        <span class="username">@User.Identity.GetUserName()</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("UserProfile", "Admin")">
                                <i class="fa fa-android"></i>
                                &nbsp;Мой профиль
                            </a>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fa fa-sign-out"></i>
                                Выйти
                            </a>
                        </li>
                    </ul>
                }
            </li>
        </ul>
    </div>
}





