@model Lotereya.Models.settings

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Победители";
}

<h2>Победители</h2>
<hr />
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}

@if (ViewData["Info"] != null)
{
    <div class="alert alert-info">
        @ViewData["Info"]
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div id="articleDiv">
            @{ Html.RenderAction("ArticlePartial"); }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            var request = function (url, params) {
                var result = $.ajax({
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    data: params,
                    type: "GET",
                    async: false,
                    success: function (json) {
                        return json;
                    }
                });

                return result.responseJSON;
            };


            $('body').on('click', '#bthInsert', function () {
                $(".article-edit-part").load("/admin/ArticleEditPartial", function () {
                    $("input[id='id_article']").val(0);
                });
            });

            $('body').on('click', '#bthEdit', function () {
                $(".article-edit-part").load("/admin/ArticleEditPartial?id_article=" + $(this).attr("data-id"));
            });

            $('body').on('click',  '#btnDelete', function () {
                if (confirm("Вы уверены, что хотите удалить эту запись?")) {
                    var data = { id_article: $(this).attr("data-id") };
                    var result = request("/Admin/articleDelete", data);

                    $("#articleDiv").load("/admin/ArticlePartial");
                }
            });

            $('body').on('click', '#btnCancel', function () {
                $("#holder").css("display", "none");
            });
        });
    </script>
}