<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="font-family: Arial; font-size: 10pt">
        <strong>Номер розыгрыша:</strong> {0}<br />
        <strong>ФИО:</strong> {1}<br />
        <strong>E-mail:</strong> {2}<br />
        <strong>Телеофн:</strong> {3}<br />
        <br />
        <br />
    </div>
</body>
</html>
